.highlight {
  background-color: #d5d7e0;
}

.right {
  text-align: right !important;
}

.navbar, .navbar-menu {
  background-color: #048686;
  
  .navbar-burger {
    color: #fff;
  }

  .navbar-item {
    color: #fff !important;

    &.active {
      background-color: #329a9a !important;
    }
  }
}

table {
  thead {
    tr {
      background: #f1eded;
    }
  }
  tr:nth-child(2n+2){
    background: #f1eded;
  }

  small {
    font-size: 11px;
  }
}
