.highlight {
  background-color: #d5d7e0;
}

.navbar, .navbar-menu {
  background-color: #048686;
  
  .navbar-burger {
    color: #fff;
  }

  .navbar-item {
    color: #fff !important;

    &.active {
      background-color: #329a9a !important;
    }
  }
}
