body {
  background-color: #d9d5e2;
}

.container {
  margin: 0 20px;
}

.warn {
  color: red;
}

.success {
  color: green;
}

.slp-icon {
  height: 25px;
}

.slp-icon-small {
  height: 15px;
}

.slp-icon-tiny {
  height: 10px;
}

.money::before {
  content:"₱";
}

.right {
  text-align: right!important;
}

table {
  font-size: 13px;
  width: 100%;
}

tr.danger {
  background-color: #f18a8a;
}

tr.good {
  background-color: #75b680;
}

.insight {
  display: none !important;
}
