body {
  background-color: #363636;
}

.tool-button-wrapper {
  position: absolute;
  right: 15px;
  top: 20px;
}

.fas.first {
  color:#e8d90c
}

.inline {
  display: inline-block;
}
.warn {
  color: red;
}

.success {
  color: green;
}

.slp-icon {
  height: 25px;
}

.slp-icon-small {
  height: 15px;
}

.slp-icon-tiny {
  height: 10px;
}

.money::before {
  content:"₱";
}

.right {
  text-align: right !important;
}

.center {
  text-align: center;
}

img.avatar {
  height: 25px;
}

table {
  font-size: 13px;
  width: 100%;
}

tr.danger {
  background-color: #f18a8a;
}
tr td {
  vertical-align: middle !important;
}

tr.good {
  background-color: #75b680;
}

.insight {
  display: none !important;
}
